<html lang="en">
  <head>
    <title>Yuka | TODO-Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://mugen87.github.io/yuka/favicon.ico" />
  </head>
  <body>
    <section id="info">
      <p>TODO-Description</p>
    </section>
    <canvas id="renderCanvas" >canvas>
    <script type="module" src="index.js"></script>
  </body>
</html>
